
body {
	font-family: "Helvetica", "Verdana", sans-serif;
	background-color : #1D2475;
	color : #939396; 	
}


h1{
	text-shadow: 3px -3px green;
	font-size : 40pt;
}

h1, h2{
	font-style : bold;
	font-size : ;
	color : #F7931E;
}


p::first-letter{
	font-size : 150%;
	font-style : bold;
}

a{
	color : #FF4F3F;
	text-decoration : none;
}


strong{
	color : #FFF86B;
}

q{
	color : #D1DFEB;
}

table, th, td{
	border : 1px dotted;
	border-collapse : collapse;
}

ul{
	list-style-type: square;
}

#img1{
	right : 0%;
	position : fixed ;
	background-repeat: no-repeat;

}


#img2{
	outline-style: solid;
	outline-color: #F7931E;
}


