body{
    background-image: url('https://selab.hanyang.ac.kr/courses/cse326/2019/labs/images/3/blueTextureBG.jpg');
}

title, h1, h2{
    font-weight : bold;
}


div,span{
    border-width : 5px;
    border-style : solid;
}


div.main{
    border-width : 10px;
    border-color : white;
    background-color: white;
    margin-left : 10%;
    margin-right : 10%;

    position : relative;
}

div.sub_main{
    text-align: right;
    background-color: #1D2475;
    color : white;
}


div.ssub_main{
    border-width : 0px;
    margin : 5px;
    color : #CCCCCC;
}

div.sentence{
    border-width: 4px;
    border-color :#1D2475;
    background-color: #99CCFF;
    padding : 5px;
    margin-top : 10px;
    overflow : hidden;

    border-radius : 15px;

    text-align: justify;

    
}

span.sentence_title{
    border-width : 0px;
    border-bottom-width : 2px; 
    border-color : blue;
    border-style: dashed;

}


img.image{
    float : right;
}

div.side{
    position : absolute;
    left : 0px;
    margin-top : 10px;

    border-radius : 15px;
    background-color : rgb(129, 139, 255);
    border-color: #1D2475;
}

div.right{
    border-width: 0px;
    margin-left : 150px;

}

div.last{
    border-width : 0px;
    margin-left : 60px;
}

*:hover{
    background-color : #A6CE39; 
}
